.App {
  text-align: center;
  height: 100vh;
  display: flex;
}
/* Mannual styles */
.container {
  display: flex;
  margin-left: 100px !important;
  margin-top: 100px;
  width: 1000px !important;
  flex-direction: column !important;
  align-items: flex-start;
}
.right {
  display: flex;
  flex-direction: row;
  height: 100% !important;
  width: 80vw !important;
  overflow: hidden;
}
.rightImg {
  position: relative;
}
.rightImg img {
  position: absolute;
  height: 100vh;
  left: 0%;
}
.wave svg {
  z-index: 3;
  position: absolute;
  height: 102%;
  left: 480px;

  top: -2%;
}
#svgWave {
  fill: white !important;
}
