.App {
  height: 100vh;
  display: flex;
  text-align: center;
}
/* Mannual styles */
.container {
  display: flex;
  margin-left: 100px !important;
  margin-top: 100px;
  width: 1000px !important;
  flex-direction: column !important;
  align-items: flex-start;
}
.right {
  display: flex;
  flex-direction: row;
  height: 100% !important;
  width: 1070px !important;
  overflow: hidden;
}
.rightImg {
  position: relative;
}
.rightImg img {
  position: absolute;
  height: 100vh;
  left: 0%;
}
.wave svg {
  z-index: 3;
  position: absolute;
  height: 102%;
  left: 480px;

  top: -2%;
}
#svgWave {
  fill: white !important;
}
@media (max-width:1344px) {
  .wave svg{
    left: 396px;
  }
}
@media(max-width:1000px){
  .right{
    display: none;
  }
  .container{
    width: 100%;
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    align-items: center;
  }
  .App{
    height: fit-content;
  }
}
@media(max-width:550px){
  .App{
    height: fit-content;
  }
  .container{
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 50px;
  }
}